	/* preloader */
	
	.loading-container {
	    position: fixed;
	    background-color: #f9f9f9;
	    z-index: 999999999;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    cursor: wait;
	}
	/* CSS Document */
	
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    margin: 0;
	}
	input[type=number] {
	    -moz-appearance: textfield;
	}
	html,
	body {
	    height: 100%;
	}
	body {
	    margin: 0 !important;
	    padding: 0 !important;
	    background: #fff;
	    font-size: 14px;
	    color: #414a50;
	    font-family: 'Roboto', sans-serif !important;
	    position: relative;
	}
	a,
	a:hover,
	a:focus {
	    text-decoration: none;
	    outline: none;
	}
	ul{
		padding:0;
	}
	ul li {
	    list-style-type: none;
	}
	img {
	    border: 0 none;
	}
	button,
	input {
	    outline: none;
	}
	/***** HEADER TOP ********/
	
	body {} header {
	    position: fixed;
	    z-index: 999;
	    width: 100%;
	    border-bottom: 1px solid #dadada;
	}
	.slider {
	    padding-top: 106px;
	}
	.menu-mobile,
	.slider-mobile {
	    display: none;
	}
	.container {} .custom-container-header {
	    background-color: #fff;
	}
	.custom-content {
	    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	    margin-top: 13px;
	}
	header .header-top .block-search {
	    display: none;
	}
	#home .header-top .top-logo a.logo-link {
	    display: block;
	    padding-top: 10px;
	}
	#home .content-create .home-main-create .para-main-create a,
	.content-create .home-list-create ul li a {
	    display: block;
	    margin-top: 10px;
	}
	#home .header-top {
	    background-color: #fff;
	    padding: 0px 0px 10px 0px;
	}
	#home .box-top .ic-languages-top-eng {
	    display: inline-block;
	    padding: 8px 0px 8px 8px;
	}
	#home .box-top {
	    background-color: #2e2e2e;
	}
	#home .box-top .box-lang-top {
	    float: right;
	    padding-right: 0px;
    	text-align: right;
	}
	#home .header-top .topbar .top-nav {
	    margin-top: 25px;
	    padding-right: 0px;
	}
	.box-hotline-top p {
	    color: #e4e4e4;
	    padding: 9px 0px 0px 0px;
	    ;
	}
	.box-hotline-top p .fa-phone {
	    margin-right: 10px;
	}
	#home .header-top .topbar .top-nav .navbar-custom {
	    margin-bottom: 0px;
	    min-height: 0px;
	    padding-right:0px;
	}
	#home .header-top .topbar .top-nav ul {
	    float: right;
	}
	#home .header-top .topbar .top-nav ul li {
	    float: left;
	    padding-bottom: 9px;
	    margin-right: 25px;
	}
	#home .header-top .topbar .top-nav ul li:last-child{
		margin-right: 0px;
	}
	#home .header-top .topbar .top-nav ul li.active {
	    border-bottom: 2px solid #f04e4e;
	}
	#home .header-top .topbar .top-nav ul li.active a {
	    color: #f04e4e;
	}
	#home .header-top .topbar .top-nav ul li a {
	    color: #5a5a5a;
	    font-weight: bold;
	    font-size: 14px;
	    padding: 0;
	    text-transform: uppercase;
	}
	#home .header-top .topbar .top-nav ul li a:hover {
	    background-color: #fff;
	    color: #d84e56;
	}
	#home .header-top .topbar .top-logo {} #home header .top-search {
	    width: 15%;
	    display: none;
	    margin-top: 34px;
	}
	#home header .top-search input[type=search] {
	    border: none;
	    border-radius: 19px;
	    padding: 4px 3px 4px 13px;
	    width: 100%;
	}
	/***** BOX SERVICES ********/
	.box-sidebar-right {
		position: fixed;
	    right: 0;
	    top: 35%;
	    background-color: #fff;
	    width: 52px;
	    height: 275px;
	    border-top-left-radius: 5px;
	    border-bottom-left-radius: 5px;
	    -webkit-box-shadow: -2.853px 0.927px 6px 0px rgba(129, 129, 129, 0.35); */
	    -moz-box-shadow: -2.853px 0.927px 6px 0px rgba(129, 129, 129, 0.35);
	    box-shadow: -2.853px 0.927px 6px 0px rgba(88, 88, 88, 0.35);
	    border: 1px solid #bfbfbf;
	    opacity: 0.5;
	}
	.box-sidebar-right:hover{
		opacity: 1;
	}
	.box-sidebar-right ul li .ic-facebook{
		background: url('../images/social-fb.png') no-repeat 0 0;
	}
	.box-sidebar-right ul li .ic-blogger{
		background: url('../images/social-blogger.png') no-repeat 0 0;
	}
	.box-sidebar-right ul li .ic-slideshare{
		background: url('../images/social-slideshare.png') no-repeat 0 0;
	}
	.box-sidebar-right ul li .ic-youtube{
		background: url('../images/social-youtube.png') no-repeat 0 0;
	}
	.box-sidebar-right ul li .ic-google-plus{
		background: url('../images/social-google-plus.png') no-repeat 0 0;
	}
	.box-sidebar-right ul li .ic-social{		
		width: 33px;
		height: 34px;
		display: block;		
		margin: 0 auto;
	}
	.box-sidebar-right .in-box-sidebar-right ul li{
		margin: 11px 0px 10px 0px;
	    border-bottom: 1px solid #ececec;
	    padding-bottom: 8px;
	}
	.box-sidebar-right .in-box-sidebar-right ul li:last-child{
		border-bottom: inherit;
	}
	.box-service {
	    text-align: center;
	    background-size: cover;
	    padding: 0px 0px 53px 0px;
	}
	.box-service .in-service{
		    margin: 50px 0px;
	}
	.box-service .logo-socialbeat-product{
		height: 125px;
		position: relative;
	    overflow: hidden;
	    margin: 10px 1%;
	    max-height: 360px;
	    text-align: center;
	    cursor: pointer;
	}
	.box-service .percent-service-1:hover .hover-logo{
		-webkit-transform: translate3d(0,0,0);
    	transform: translate3d(0,0,0);
    	background-color: #000;
    	width: 242px;
    	height: 137px;
    	color:#fff;
    	background-color: #eb3434;
    	border:1px solid #ececec;
	}
	.box-service .percent-service-1 .hover-logo{
		position: absolute;
		top: auto;
	    bottom: 0;
	    padding: 1em;
	    height: 3.75em;
	    background: #fff;
	    color: #3c4a50;
	    -webkit-transition: -webkit-transform 0.35s;
	    transition: transform 0.35s;
	    -webkit-transform: translate3d(0,100%,0);
	    transform: translate3d(0,100%,0);
	}
	.box-service .percent-service-1{
		position: relative;
	}
	.box-service .logo-socialbeat-product img{
		padding-top: 36px;
	}
	.box-service .percent-service-1 p{
		margin-top:20px;
	}
	.box-service .percent-service-1 p a{
		color:#fff;
	}
	.box-service .percent-service-1 p a.link-view-more{
		color: #fff;
	    padding: 9px 20px;
	    background-color: #eb3434;
	    border-radius: 50px;
	}
	.box-service .in-service h3.title-service {
	    font-size: 28px;
	    font-weight: 100;
	    padding: 12px 0px;
	    color: #5a5a5a;
	    border-bottom: 1px solid #7b7b7b;
	    display: table;
	    margin: 14px auto;
	    text-transform: uppercase;
	}
	.box-service .in-service p {
	    font-size: 21px;
	    color: #5a5a5a;
	    font-weight: bold;
    	text-transform: uppercase;
	}
	.box-service .in-service p span {
		font-weight: 100;
	}
	.box-service .img-service {
	}
	.box-service .img-service img {
	}
	/***** BOX FEATURES ********/
	
	#features p{
	    font-size: 15px;
	    color:#808080;
	    text-align: right;
	}
	#features .info-features2,
	#features .info-features4{
		text-align: left;
	}
	.in-box-package .info-package{
		color:#fff;
	}
	.box-features {
	    margin-top: 26px;
	}
	.text-features1 {
	    padding: 0px 40px 0px 100px;
	}
	.features1 {
	    margin: 20px 0px;
	    padding: 20px 0px;
	}
	.text-features1 h3.title-features1,
	.text-features2 h3.title-features2,
	.text-features3 h3.title-features3,
	.text-features4 h3.title-features4,
	.in-box-us .title-us,
	.in-box-package .title-package {
	    font-weight: 100;
	    font-size: 28px;
	    text-transform: uppercase;
	    line-height: 28px;
	    margin-top: 0px;
	    color:#303030;
	}
	.text-features1 h3.title-features1 span,
	.text-features2 h3.title-features2 span,
	.text-features3 h3.title-features3 span,
	.text-features4 h3.title-features4 span {
	    font-weight: bold;
	}
	.features2 {
	    margin: 30px 0px;
	}
	.features3 {
	    margin: 40px 0px 20px 0px;
	}
	.features3 .text-features3{
		padding: 0px 26px 0px 100px;
	}
	.features4 .text-features4{
		padding: 0px 100px 0px 25px;
	}
	.features4 {
	    margin: 20px 0px 80px 0px;
	}
	.features2 .text-features2 {
	    padding: 32px 0px 0px 20px;
	}
	.features1 .img-features1,
	.features2 .img-features2,
	.features3 .img-features3,
	.features4 .img-features4 {
	    text-align: right;
	}
	.text-features1 h3.title-features1 {
	    margin-top: 20px;
	    font-size: 21px;
	    text-align: right;
	}
	.text-features3 h3.title-features3 {
	    margin-top: 50px;
	    text-align: right;
	}
	.text-features4 h3.title-features4 {
	    margin-top: 34px;
	}
	/***** BOX ABOUT ME ********/
	
	.box-us {
	    background-color: #e03d3d;
	    padding: 0px 0px 10px 0px;
	}
	.box-us .in-box-us,
	.box-package .in-box-package,
	.box-customer .in-box-customer {
	    padding: 0px 213px;
	    text-align: center;
	    margin: 20px 0px 10px 0px;
	}
	.box-us .in-box-us h3,
	.in-box-package .title-package {
	    border-bottom: 1px solid #ffffff;
	    display: table;
	    padding-bottom: 16px;
	    margin: 16px auto;
	}
	.box-us .in-box-us h3,
	.box-us .in-box-us p {
	    color: #fff;
	}
	.item-box-us {
	    margin: 0px 0px 40px 0px;
	    padding: 0px 200px;
	}
	.item-box-us ul li {
	    text-align: center;
	    margin-top:40px;
	}
	.box-package{
		background-color:#333538;
		padding: 20px 0px 90px 0px;
	}
	.item-box-us ul li .img-item {
	    background-color: #fff;
	    border-radius: 50%;
	    border: 5px solid  #ea3939;
	    margin: 0 auto;
	    width: 200px;
	    height: 200px;
	    overflow: hidden;
	}
	.item-box-us ul li .img-item img {
	    width: 100%;
	}
	.item-box-us ul li h3{
		font-size: 18px;
		color: #fff;
		margin: 10px 0px 5px 0px;
	}
	.item-box-us ul li p {
	    color: #fff;
    	margin-bottom: 1px;

	}
	/***** BOX PACKAGE ********/
	
	.box-package .in-box-package {} 
	.box-package .in-box-package h3 {
	    font-weight: 100;
	    color: #ffffff;
	}
	.box-package .in-box-package h3.title-package span {
	    font-weight: bold;
	    margin-top: 10px;
    	display: block;
	}
	.box-package .item-box-package {
		padding: 0px 150px;
	} 
	.box-package .item-box-package ul li {
	    text-align: center;

	}
	.box-package .item-box-package ul li .in-package {
	    margin: 0 auto;
	    border-radius: 5px;
	    border: 1px solid #ececec;
	    width: 235px;
	    height: 300px;
	    padding: 0px 10px;
	}
	.box-package .item-box-package ul li.package1 .in-package,
	.box-package .item-box-package ul li.package2 .in-package,
	.box-package .item-box-package ul li.package3 .in-package {
	    background-color: #fff;
	}
	.in-package .img-package {
	    padding: 40px 0px 20px 0px;
	    height: 235px;
	}
	.in-package .img-package p {
	    color: #2e2e2e;
	    margin-top: 21px;
	    line-height: 24px;
	}
	.in-package .button-package {
	    border-radius: 20px;
	    border: 2px solid #fff;
	    color: #fff;
	    padding: 10px 30px;
	}
	.in-package .btn-package1,
	.in-package .btn-package2,
	.in-package .btn-package3  {
	    background-color: #424953;
	    transition: all 0.5s ease;
	}
	.in-package .btn-package1:hover {
	    background-color: #de3020;
	}
	.in-package .btn-package2:hover {
	    background-color: #de3020;
	}
	.in-package .btn-package3:hover {
	    background-color: #de3020;
	}
	/***** BOX CUSTOMER ********/
	
	.box-customer {
	    background-color: #fff; 
	    padding: 18px 0px 50px 0px;
	}
	.box-customer .in-box-customer h3 {
	    display: table;
	    margin: 0 auto;
	    border-bottom: 1px solid #5a5a5a;
	    padding-bottom: 12px;
	    font-weight: 100;
	    text-transform: uppercase;
	    color: #5a5a5a;
	}
	.box-customer .item-box-customer ul li {
	    display: inline-block;
	    text-align: center;
	}
	.box-customer .item-box-customer ul li img{
		transition: all 0.5s ease;
	}
	.box-customer .item-box-customer ul li img:hover{
		-webkit-filter: inherit;
		filter: inherit;
	}
	/***** BLOG ********/
	
	#blog {
	    padding-top: 106px;
	}
	.content-left {
	    padding: 0px 40px;
	}
	.content-left .in-content-left {
	    padding: 0px 10px;
	    display: inline-block;
	    margin-right: 24px;
	}
	.content-left .in-content-left .text-content-blog {
	    margin: 14px 0px 60px 0px;
	}
	.content-left .in-content-left .text-content-blog .show-time {
	    margin: 10px 0px;
	}
	.content-left .in-content-left .img-content-blog {
	    display: block;
	    overflow: hidden;
	}
	.text-content-blog h2 {
	    font-size: 30px;
	    margin: 10px 0px;
	    font-weight: bold;
	}
	.content-left .in-content-left a img {
	    width: 100%;
	}
	.hotline .in-hotline h3 {
	    font-weight: 700;
	    font-size: 20px;
	    text-transform: uppercase;
	    line-height: 22px;
	    margin: 10px 0px 0px 0px;
	    padding: 0;
	}
	.text-content-blog h2 a {
	    color: #2e2e2e;
	}
	.breadcrumb {
	    background-color: #e03d3d;
	}
	.breadcrumb h3 {
	    font-size: 18px;
	    font-weight: 100;
	    padding-left: 12px;
	}
	.breadcrumb h3 a {
	    color: #fff;
	    font-weight: 100;
	}
	.breadcrumb h3 a:hover {
	    color: #ffa5aa;
	}
	.menu-right {
	    padding: 0px 20px;
	}
	.hotline {
	    padding: 10px;
	}
	.hotline .news-blog ul {
	    padding: 0px 10px;
	    margin-top: 13px;
	}
	.hotline .news-blog ul li {
	    padding: 16px 0px 10px 0px;
	}
	.hotline .news-blog ul li:last-child {
	    border-bottom: none;
	}
	.hotline .news-blog ul li a {
	    color: #414a50;
	}
	.hotline .news-blog ul li a:hover {
	    color: #f04e4e;
	}
	.hotline .in-hotline h3 {
	    padding: 12px 0px 0px 10px;
	    margin-top: 0;
	}
	.hotline .in-hotline h3 .fa-star,
	.hotline .in-hotline h3 .fa-list {
	    color: #eb5848;
	    padding-right: 8px;
	}
	.banner-right {
	    margin: 20px 0px;
	}
	.banner-right a img {
	    width: 100%;
	}
	.content-left .pagi-count {
	    text-align: center;
	}
	.content-left .pagi-count ul li a {
	    margin: 0px 10px;
	    color: #2e2e2e;
	}
	.content-left .pagi-count ul li a:hover {
	    background-color: #d84e56;
	    color: #fff;
	}
	.detail-left {} .text-content-blog .short-desc {
	    background-color: #edf3f5;
	    padding: 10px 20px;
	    font-style: italic;
	    color: #5a5a5a;
	    line-height: 25px;
	    margin: 10px 24px 10px 0px;
	}
	.text-content-blog .img-link-detail{
	    display: block;
	    width: 500px;
	    overflow: hidden;
	    text-align: center;
	    margin: 15px auto;
	}
	.detail-left .img-content-blog {
		width: 800px;
    	display: block;
    	margin: 0 auto;
    	text-align: center;
	}
	.detail-left .img-content-blog .text-content-blog .img-link-detail img,
	.detail-left .img-content-blog img {
	    width: 100%;
	}
	.text-content-blog .main-content {}
	/***** FOOTER ********/
	
	footer {
	    background-color: #2d2d2d;
	}
	.box-footer {
	    padding: 15px 0px;
	}
	.box-footer .bottom-bar {
	    background-color: #1d1d1d;
	    margin-top: 10px;
	    padding: 22px 0px 4px 0px;
	}
	.box-footer .bottom-bar .in-bottom-bar{
		text-align: center;
	}
	.box-footer .bottom-bar ul {
	    float: right;
	}
	.box-footer .bottom-bar ul li,
	.box-footer .bottom-bar p {
	    display: inline-block;
	}
	.box-footer .bottom-bar ul li {
	    padding-left: 26px;
	}
	.box-footer .bottom-bar ul li a.ic-facebook {
	    background: url("../images/fb-bottombar.png") no-repeat 0px 0px;
	    display: block;
	    width: 25px;
	    height: 25px;
	}
	.box-footer .bottom-bar ul li a.ic-insta {
	    background: url("../images/insta-bottombar.png") no-repeat 0px 0px;
	    display: block;
	    width: 25px;
	    height: 25px;
	}
	.box-footer .bottom-bar ul li a.ic-google {
	    background: url("../images/google-plus-bottombar.png") no-repeat 0px 0px;
	    display: block;
	    width: 25px;
	    height: 25px;
	}
	.in-box-footer .ft-logo a.logo-ft {
	    background: url("../images/logo-footer.png") no-repeat center center;
	    width: 80px;
	    height: 68px;
	    display: block;
	    margin-top: 33px;
	}
	.in-box-footer .ft-call,
	.in-box-footer .ft-add,
	.in-box-footer .ft-mail {
	    margin-top: 36px;
	}
	.in-box-footer .ft-call .in-ft-call,
	.in-box-footer .ft-mail .in-ft-mail,
	.in-box-footer .ft-add .in-ft-add {
	    padding: 0;
	}
	.in-box-footer .ft-call .in-ft-call h3,
	.in-box-footer .ft-mail .in-ft-mail h3,
	.in-box-footer .ft-add .in-ft-add h3 {
	    margin: 0;
	    color: #9a9a9a;
	    font-size: 18px;
	    padding-bottom: 10px;
	}
	.in-box-footer .ft-call .in-ft-call p,
	.in-box-footer .ft-mail .in-ft-mail p,
	.in-box-footer .ft-add .in-ft-add p {
	    font-size: 14px;
	}
	.in-box-footer .ft-call .in-ft-call p {} .in-footer ul {
	    margin: 0;
	    float: right;
	    padding: 41px 13px 0px 0px;
	}
	.in-footer ul li {
	    float: left;
	}
	footer h4.title-footer {
	    color: #fff;
	    font-weight: 200;
	}
	footer p {
	    color: #9a9a9a;
	}
	footer .ft-link ul li,
	footer .ft-social ul li {
	    margin: 10px 0px;
	}
	footer .ft-link ul li a,
	footer .ft-social ul li a,
	footer .ft-contact ul li h4 {
	    color: #fff;
	}
	footer .ft-link ul li a .fa-chevron-circle-right,
	footer .ft-social ul li a .fa-facebook-official,
	footer .ft-social ul li a .fa-google-plus-square,
	footer .ft-social ul li a .fa-youtube-play,
	footer .ft-social ul li a .fa-instagram {
	    padding-right: 10px;
	}
	footer .ft-link ul li a .fa-chevron-circle-right {
	    color: #2F6D1D;
	}
	/** JS Circle progess **/
	.one.circle strong,
	.one.circle2 strong,
	.one.circle3 strong{
		    position: absolute;
		    top: 41px;
		    left: 3px;
		    width: 100%;
		    text-align: center;
		    line-height: 40px;
		    font-size: 29px;
		    font-weight: 100;
	}